# ---------------------------
# adjust this list to fit your project needs
# ---------------------------

# r utility files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# rmarkdown temp files
*.knit.md
*.utf8.md

# possible data files
*.accdb
*.csv
*.db
*.dta
*.gz
*.httr-oauth
*.lst
*.mdb
*.nvp
*.rda
*.rds
*.sas7bdat
*.sav
*.twb
*.twbr
*.xls
*.xlsx
*.xml
*.zip

# possible output files
*.docx
*.doc
*.html
*.htm
*.log
*.pdf
*.pptx
*.ppt
*.rtf
*.thmx
*.txt

# image files
*.ai
*.emf
*.jpeg
*.jpg
*.png
*.svg
*.tiff
*.tif

# media files
*.dcf
*.m4a
*.mp3
*.mp4
*.wma

# do not ignore
!mclc_pre_data_2022.xlsx
!Comparison_MCLC_and_BJS_data_v1.xlsx
!/data/raw/NCRP/ICPSR_38492-V1/ICPSR_38492/*
!/data/raw/NCRP/ICPSR_38492-V1/ICPSR_38492/D*/*
!/data/raw/notes/*
!/data/raw/notes/*
!/data/raw/PUMS/*
!/data/raw/SC-EST/*
!/data/raw/BJS/AParS/*
!/data/raw/BJS/AParS/I*/I*/*
!/data/raw/BJS/AParS/I*/I*/D*/*